ddgs
duckduckgo_search
fastapi
langchain_core
langchain_groq
langchain_openai
langgraph
ollama
pandas
pydantic
python-dotenv
requests
tenacity
uvicorn
mysql-connector-python
pinecone-client
langchain-pinecone
